﻿
@model IEnumerable<Biblioteca.Models.libro>
@{
  ViewBag.Title = "Index";
}

<h2 class="text-center font-weight-bold mb-5 mt-4">Libros</h2>
<div class="container">
  <p class="text-right">
    @Html.ActionLink("Nuevo", "New", null, new {@class="btn btn-primary"  })
  </p>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">
          @Html.DisplayNameFor(model => model.titulo)
        </th>
        <th scope="col">
          @Html.DisplayNameFor(model => model.autor)
        </th>
        <th scope="col">
          @Html.DisplayNameFor(model => model.paginas)
        </th>
        <th scope="col">
          @Html.DisplayNameFor(model => model.estado)
        </th>
        <th scope="col">
          @Html.DisplayNameFor(model => model.fecha_pub)
        </th>
        <th>
                
        </th>
      </tr>
    <thead>
    <tbody>
      @foreach (var item in Model)
      {
        <tr>
          <td>
            @Html.DisplayFor(ModelItem => item.titulo)
          </td>
          <td>
            @Html.DisplayFor(ModelItem => item.autor)
          </td>
          <td>
            @Html.DisplayFor(ModelItem => item.paginas)
          </td>
          <td>
            @Html.DisplayFor(ModelItem => item.estado)
          </td>
          <td>
            @Html.DisplayFor(ModelItem => item.fecha_pub)
          </td>
          <td>
            @Html.ActionLink("Editar", "edit", null, new { @class = "btn btn-success" })
            @Html.ActionLink("Eliminar", "delete", null, new { @class = "btn btn-danger" })
        </tr>
      }
    </tbody>
  </table>
</div>