﻿@model Biblioteca.Models.libro
@{
  ViewBag.Title = "New";
}

<h2 class="text-center font-weight-bold mb-5 mt-4">Nuevo Libro</h2>

<div class="container">
  @using (Html.BeginForm())
  {
    @Html.AntiForgeryToken()
  <div class="form-group row">


    @Html.LabelFor(model => model.titulo, new { @class = "col-md-2" })
    <div class="col-sm-10">
      @Html.EditorFor(model => model.titulo, new { htmlAtributes = new { @class = "form-control col-md-10 maximo" } })
    </div>
    </div>
    <div class="form-group">

      @Html.LabelFor(model => model.autor)
      @Html.EditorFor(model => model.autor, new { @class = "form-control" })

    </div>
    <div class="form-group">

      @Html.LabelFor(model => model.paginas)
      @Html.EditorFor(model => model.paginas, new { @class = "form-control" })

    </div>
    <div class="form-group">

      @Html.LabelFor(model => model.fecha_pub)
      @Html.EditorFor(model => model.fecha_pub, new { @class = "form-control" })

    </div>
    <div class="form-group">
      <input type="submit" value="Guardar" class="btn btn-primary" />
    </div>
    }
  </div>
